[supervisord]
nodaemon=true
logfile=/var/log/supervisor/supervisord.log
pidfile=/var/run/supervisord.pid

[program:rust-app]
directory=/whoknows/src/Rust_Actix/backend
command=/whoknows/src/Rust_Actix/backend/Scripts/run_forever_fixed.sh
autostart=true
autorestart=true
stderr_logfile=/var/log/supervisor/rust-app.err.log
stdout_logfile=/var/log/supervisor/rust-app.out.log

[program:auto-update]
command=/whoknows/src/Rust_Actix/backend/Scripts/auto_update.sh
autostart=true
autorestart=true
startsecs=0
stderr_logfile=/var/log/supervisor/auto-update.err.log
stdout_logfile=/var/log/supervisor/auto-update.out.log
