# .env.template
# - for the .env file used in the Docker Compose setup.
## -> create .env.production, .env.development or .env.branch-test based on this template
############################

# --- Core Configuration ---
COMPOSE_PROJECT_NAME=whoknows # <--- differrentiate by: -dev and -test for cd.dev.yml and cd.branch-test.yml
HOST_PORT_FRONTEND=xxxx       # <------------ main PORT of application

# --- Backend Configuration ---
BACKEND_INTERNAL_PORT=92
RUST_LOG=debug                      # Verbose logging for development
DATABASE_URL=sqlite:/app/data/xx.db # <-- whoknows.db, whoknows.dev.db, whoknows.test.db
SQLX_OFFLINE=TRUE
SESSION_SECRET_KEY=xx

# --- Frontend Configuration ---
FRONTEND_INTERNAL_PORT=91

# --- Deployment Variables ---
# These are set by the CI/CD pipeline, but included as fallbacks

IMAGE_TAG_BACKEND=ghcr.io/debugger-demons/whoknows/backend:latest
IMAGE_TAG_FRONTEND=ghcr.io/debugger-demons/whoknows/frontend:latest

IMAGE_TAG_BACKEND_LOCAL=whoknows.local.backend
IMAGE_TAG_FRONTEND_LOCAL=whoknows.local.frontend
